/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Header and Hamburger Menu Styling */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    position: relative;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

nav {
    position: absolute;
    top: 65px;
    left: 10px;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #4CAF50;
    width: 200px;
    border: 1px solid #ddd;
    display: none;
    z-index: 1000;
}

#menu.hidden {
    display: none;
}

#menu:not(.hidden) {
    display: flex;
}

#menu li {
    margin: 10px 0;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#menu a:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    #menu {
        width: 100%;
    }
}

/* Table Styling */
#table-container {
    margin-top: 20px;
    overflow-x: auto;
    width: 100%;
}

table {
    width: 90%;
    max-width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 8px;
    text-align: left;
    background-color: #ffffff;
}

thead {
    background-color: #4CAF50;
    color: black;
}

/* Set column widths to maintain consistency */
td:nth-child(1) {
    width: 75%;
    max-width: 75%;
}

td:nth-child(2) {
    width: 25%;
    max-width: 25%;
    text-align: right;
}

/* Responsive Table Styling */
@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 10px 5px;
    }

    #table-container {
        overflow-x: auto;
    }
}

/* Button Styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}

button:hover {
    background-color: #45a049;
}

/* Day Header Styling */
.day-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
}

.day-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.day-date {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
}

/* Entry Header Styling */
.entry-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}

.entry-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.entry-indent {
    margin-left: 30px;
}

.expand-button,
.generate-report-button,
.expand-entry-button {
    margin: 5px;
}

/* Icon Styling */
#icon {
    width: 50px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    text-align: center;
}

/* Result Container Styling */
#result {
    text-align: center;
}

#entries-container {
    align-self: flex-start;
    margin-left: 20px;
}

/* Video Styling */
#video {
    margin-bottom: 20px;
}

video {
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.hidden {
    display: none;
}
